############################################################
# admin: admin
# user: devops
# date: 2021-12-28 08:41:37
############################################################
grant host www.myfinder.com to devops;

